@{
    ViewData["Title"] = "Kalendář";
}
@model kalendar.Models.Udalost


<div class="container-lg">
  <div class="row">
    <div class="col-4">
      <div class="text-center">
            <ul class="list-group list-group-horizontal w-100 mb-5">
              <li id="udalostButton" class="list-group-item active flex-fill">Události</li>
              <li id="upominkaButton" class="list-group-item flex-fill">Upomínky</li>
              <li id="poznamkaButton" class="list-group-item flex-fill">Poznámky</li>
            </ul>
            
      </div>
      <div class="text-center" style="overflow-y: scroll;
max-height: 490px; ">
          <div id="kocourek"></div>
      </div>
    </div>
    <div class="col-8">
      <div id="calender"></div>

      <!-- udalost -->

    <div id="myModalUdalost" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                   <form id="udalostformupdate"> 
                    <div class="form-group">
                       <label for="nazevudalostiupdate">Název Události</label>
                       <input type="text" class="form-control" name="nazevudalostiupdate" id="nazevudalostiupdate" />
                    </div>
                    <div class="form-group">
                        <label for="popisudalostiupdate">Popis události</label>
                        <textarea name="popisudalostiupdate" class="form-control" id="popisudalostiupdate"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="datumodudalostupdateudalost">Datum od</label>
                        <input type="datetime-local" name="datumodudalostupdateudalost" class="form-control" id="datumodudalostupdateudalost">
                    </div>
                    <div class="form-group">
                        <label for="datumdoudalostupdateudalost">Datum do</label>
                        <input type="datetime-local" name="datumdoudalostupdateudalost" class="form-control" id="datumdoudalostupdateudalost">
                    </div>
                    </form>
                
                </div>
                <div class="modal-footer">
                    <button type="button" id="editbutton" class="btn btn-primary" data-dismiss="modal">Upravit</button>
                    <button type="button" id="deletebutton" class="btn btn-danger" data-dismiss="modal">Smazat</button>
                    <button type="button" id="closemodal" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalUdalostCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitleCreate"></span></h4>
                </div>
                
                <div class="modal-body">  
                    <form id="udalostform"> 
                    <div class="form-group">
                       <label for="nazevudalosti">Název události</label>
                       <input type="text" class="form-control" name="nazevudalosti" id="nazevudalosti" />
                    </div>
                    <div class="form-group">
                        <label for="popisudalosti">Popis události</label>
                        <textarea name="popisudalosti" class="form-control" id="popisudalosti"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="datumodudalost">Datum od</label>
                        <input type="datetime-local" name="datumodudalost" class="form-control" id="datumodudalost">
                    </div>
                    <div class="form-group">
                        <label for="datumdoudalost">Datum do</label>
                        <input type="datetime-local" name="datumdoudalost" class="form-control" id="datumdoudalost">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createbutton" class="btn btn-primary" data-dismiss="modal">Vytvořit</button>
                    <button type="button" id="closemodalcreate" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
                
            </div>
        </div>
    </div>

          <!-- poznamka -->

    <div id="myModalPoznamka" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitlePoznamka"></span></h4>
                </div>
                <div class="modal-body">
                   <form id="poznamkaformupdate"> 
                    <div class="form-group">
                       <label for="textpoznamkyupdate">Text poznámky</label>
                       <textarea class="form-control" name="textpoznamkyupdate" id="textpoznamkyupdate"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="datumpoznamkaupdate">Datum</label>
                        <input type="datetime-local" name="datumpoznamkaupdate" class="form-control" id="datumpoznamkaupdate">
                    </div>
                    </form>
                
                </div>
                <div class="modal-footer">
                    <button type="button" id="editbuttonpoznamka" class="btn btn-primary" data-dismiss="modal">Upravit</button>
                    <button type="button" id="deletebuttonpoznamka" class="btn btn-danger" data-dismiss="modal">Smazat</button>
                    <button type="button" id="closemodalpoznamka" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalPoznamkaCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitleCreatePoznamka"></span></h4>
                </div>
                
                <div class="modal-body">  
                    <form id="poznamkaform"> 
                    <div class="form-group">
                       <label for="textpoznamky">Text poznámky</label>
                       <textarea class="form-control" name="textpoznamky" id="textpoznamky"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="datumpoznamka">Datum</label>
                        <input type="datetime-local" name="datumpoznamka" class="form-control" id="datumpoznamka">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createbuttonpoznamka" class="btn btn-primary" data-dismiss="modal">Vytvořit</button>
                    <button type="button" id="closemodalcreatepoznamka" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        </div>
    </div>

          <!-- upominka -->

    <div id="myModalUpominka" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitleUpominka"></span></h4>
                </div>
                <div class="modal-body">
                   <form id="upominkaformupdate"> 
                    <div class="form-group">
                       <label for="nazevupominkyupdate">Název upomínky</label>
                       <input type="text" class="form-control" name="nazevupominkyupdate" id="nazevupominkyupdate"/>
                    </div>
                    <div class="form-group">
                       <label for="dulezitostupominkyupdate">Důležitost</label>
                       <input type="number" min="10" max="100" class="form-control" name="dulezitostupominkyupdate" id="dulezitostupominkyupdate"/>
                    </div>
                    <div class="form-group">
                        <label for="datumupominkaupdate">Datum</label>
                        <input type="datetime-local" name="datumupominkaupdate" class="form-control" id="datumupominkaupdate">
                    </div>
                    </form>
                
                </div>
                <div class="modal-footer">
                    <button type="button" id="editbuttonupominka" class="btn btn-primary" data-dismiss="modal">Upravit</button>
                    <button type="button" id="deletebuttonupominka" class="btn btn-danger" data-dismiss="modal">Smazat</button>
                    <button type="button" id="closemodalupominka" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalUpominkaCreate" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitleCreateUpominka"></span></h4>
                </div>
                
                <div class="modal-body">  
                    <form id="upominkaform"> 
                    <div class="form-group">
                       <label for="nazevupominky">Název upomínky</label>
                       <input type="text" class="form-control" name="nazevupominky" id="nazevupominky"/>
                    </div>
                    <div class="form-group">
                       <label for="dulezitostupominky">Důležitost</label>
                       <input type="number" min="1" max="100" class="form-control" name="dulezitostupominky" id="dulezitostupominky"/>
                    </div>
                    <div class="form-group">
                        <label for="datumupominka">Datum</label>
                        <input type="datetime-local" name="datumupominka" class="form-control" id="datumupominka">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createbuttonupominka" class="btn btn-primary" data-dismiss="modal">Vytvořit</button>
                    <button type="button" id="closemodalcreateupominka" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        </div>
    </div>

</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print"/>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {

            var events = [];
            var currEvent = null;
            const typeOfEvent = {
	            Udalost : Symbol("udalost"),
	            Poznamka: Symbol("poznamka"),
	            Upominka: Symbol("upominka")
            }
            var currType = typeOfEvent.Udalost;

            function fetchData() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/api/udalost",
                    success: function(data) {
                        $.each(data, function(i, v) {
                            events.push({
                                title: v.nazev,
                                description: v.popis,
                                start: v.datumod,
                                end: v.datumdo,
                                color: "green",
                                id: v.id
                            });
                            if (currType == typeOfEvent.Udalost) {
                                var d = new Date(v.datumod);
                                d = d.toLocaleString();
                                if (v.datumdoudalost !== null) {
                                    var d2 = new Date(v.datumdo);
                                    d2 = d2.toLocaleString();
                                }

                                var n = document.createElement("h4");
                                n.innerHTML = v.nazev;
                                var popis = document.createElement("p");
                                popis.innerHTML = v.popis;

                                var dat = document.createElement("h6");
                                if (v.datumdo !== null) {

                                    dat.innerHTML = "Od: " + d;
                                    var dat2 = document.createElement("h6");
                                    dat2.innerHTML = "Do: " + d2;
                                } else {
                                    dat.innerHTML = d;

                                }


                                var div = document.createElement("div");
                                div.className = 'udalost';
                                div.id = v.id;
                                var documentFragment = document.createDocumentFragment();
                                documentFragment.appendChild(div);
                                div.appendChild(n);
                                div.appendChild(popis);
                                div.appendChild(dat);
                                if (v.datumdo !== null) {
                                    div.appendChild(dat2);
                                }
                                $("#kocourek").append(div);
                            }

                        })
                        GenerateCalendar(events);

                    },
                    error: function(error) {
                        alert('failed');
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/api/poznamka",
                    success: function(data) {
                        $.each(data, function(i, v) {
                            events.push({
                                title: v.textPoznamky,
                                start: v.datum,
                                color: "orange",
                                id: v.id
                            });
                            if (currType == typeOfEvent.Poznamka) {
                                var d = new Date(v.datum);
                                d = d.toLocaleString();
                                var n = document.createElement("h4");
                                n.innerHTML = v.textPoznamky;

                                var dat = document.createElement("h6");
                                dat.innerHTML = d;


                                var div = document.createElement("div");
                                div.className = 'poznamka';
                                div.id = v.id;
                                var documentFragment = document.createDocumentFragment();
                                documentFragment.appendChild(div);
                                div.appendChild(n);
                                div.appendChild(dat);
                                $("#kocourek").append(div);
                            }

                        })
                        GenerateCalendar(events);

                    },
                    error: function(error) {
                        alert('failed');
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/api/upominka",
                    success: function(data) {
                        $.each(data, function(i, v) {
                            events.push({
                                title: v.nazevUpominky,
                                start: v.datum,
                                color: "red",
                                id: v.id
                            });
                            if (currType == typeOfEvent.Upominka) {
                                var d = new Date(v.datum);
                                d = d.toLocaleString();
                                var n = document.createElement("h4");
                                n.innerHTML = v.nazevUpominky;

                                var dat = document.createElement("h6");
                                dat.innerHTML = d;

                                
                                var dul = document.createElement("h4");
                                dul.innerHTML = v.dulezitost;


                                var div = document.createElement("div");
                                div.className = 'upominka';
                                div.id = v.id;
                                var documentFragment = document.createDocumentFragment();
                                documentFragment.appendChild(div);
                                div.appendChild(n);
                                div.appendChild(dul);
                                div.appendChild(dat);
                                $("#kocourek").append(div);
                            }

                        })
                        GenerateCalendar(events);

                    },
                    error: function(error) {
                        alert('failed');
                    }
                });

            }
            
            fetchData();

            $('.list-group').on('click','> li', function(e) {
               var $this = $(this);
                $('.list-group').find('.active').removeClass('active');
                $this.addClass('active');
                $('#kocourek').empty();
                switch (e.currentTarget.id) {
                    case 'udalostButton': currType = typeOfEvent.Udalost;
                        break;
                    case 'poznamkaButton': currType = typeOfEvent.Poznamka;
                        break;
                    case 'upominkaButton': currType = typeOfEvent.Upominka;
                        break;
                }
               fetchData(); 
            });

            $('.list-group').hover(function() {
                $(this).css('cursor','pointer');
            });
            

            $('#closemodal, #closemodalpoznamka, #closemodalupominka').click(function() {
                $('#myModalUdalost').modal('hide');
                $('#myModalPoznamka').modal('hide');
                $('#myModalUpominka').modal('hide');
                currEvent = null;
            });
            $('#closemodalcreate, #closemodalcreatepoznamka, #closemodalcreateupominka').click(function() {
                $('#myModalUdalostCreate').modal('hide');
                $('#myModalPoznamkaCreate').modal('hide');
                $('#myModalUpominkaCreate').modal('hide');
            });

            $(document).on('click', ".udalost", function(event){
                currEvent = event.currentTarget.id;
                var udalost = events.find(({id}) => id == currEvent);
                $('input[name="nazevudalostiupdate"]').val(udalost.title);
                $('textarea[name="popisudalostiupdate"]').val(udalost.description);
                $('input[name="datumodudalostupdateudalost"]').val(moment(udalost.start).format('YYYY-MM-DD HH:mm'));
                $('input[name="datumdoudalostupdateudalost"]').val(moment(udalost.end).format('YYYY-MM-DD HH:mm'));  
                $('#myModalUdalost').modal('show');
            });

            $(document).on('click', ".poznamka", function(event){
                currEvent = event.currentTarget.id;
                var poznamka = events.find(({id}) => id == currEvent);
                $('textarea[name="textpoznamkyupdate"]').val(poznamka.title);
                $('input[name="datumpoznamkaupdate"]').val(moment(poznamka.start).format('YYYY-MM-DD HH:mm'));
                $('#myModalPoznamka').modal('show');
            });



        //edit udalost
        $("#editbutton").click(function (e) {   
            var udalost = JSON.stringify({
                'Nazev': $('input[name="nazevudalostiupdate"]').val(),
                'Popis': $('textarea[name="popisudalostiupdate"]').val(),
                'datumod': $('input[name="datumodudalostupdateudalost"]').val(),
                'datumdo': $('input[name="datumdoudalostupdateudalost"]').val()    
            });
 
            $.ajax({   
                url: "/api/udalost/" + currEvent,   
                type: "PUT", 
                contentType: 'application/json',   
                data: udalost,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUdalost').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        });

        //edit poznamka
        $("#editbuttonpoznamka").click(function (e) {   
            var poznamka = JSON.stringify({
                'textPoznamky': $('textarea[name="textpoznamkyupdate"]').val(),
                'datum': $('input[name="datumpoznamkaupdate"]').val(),
            });
 
            $.ajax({   
                url: "/api/poznamka/" + currEvent,   
                type: "PUT", 
                contentType: 'application/json',   
                data: poznamka,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalPoznamka').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 
        //edit upominka
        $("#editbuttonupominka").click(function (e) {   
            var upominka = JSON.stringify({
                'NazevUpominky': $('input[name="nazevupominkyupdate"]').val(),
                'Dulezitost': $('input[name="dulezitostupominkyupdate"]').val(),
                'Datum': $('input[name="datumupominkaupdate"]').val()
            });
 
            $.ajax({   
                url: "/api/upominka/" + currEvent,   
                type: "PUT", 
                contentType: 'application/json',   
                data: upominka,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUpominka').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 

        //create udalost
        $("#createbutton").click(function (e) {   
            var udalost = JSON.stringify({
                'Nazev': $('input[name="nazevudalosti"]').val(),
                'Popis': $('textarea[name="popisudalosti"]').val(),
                'datumod': $('input[name="datumodudalost"]').val(),
                'datumdo': $('input[name="datumdoudalost"]').val()    
            });
 
            $.ajax({   
                url: "/api/udalost",   
                type: "POST", 
                contentType: 'application/json',   
                data: udalost,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUdalostCreate').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 
        //create poznamka
        $("#createbuttonpoznamka").click(function (e) {   
            var poznamka = JSON.stringify({
                'TextPoznamky': $('textarea[name="textpoznamky"]').val(),
                'Datum': $('input[name="datumpoznamka"]').val()
            });
 
            $.ajax({   
                url: "/api/poznamka",   
                type: "POST", 
                contentType: 'application/json',   
                data: poznamka,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalPoznamkaCreate').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });
        }); 
        //create upominka
        $("#createbuttonupominka").click(function (e) {   
            var upominka = JSON.stringify({
                'NazevUpominky': $('input[name="nazevupominky"]').val(),
                'Dulezitost': $('input[name="dulezitostupominky"]').val(),
                'Datum': $('input[name="datumupominka"]').val()
            });
 
            $.ajax({   
                url: "/api/upominka",   
                type: "POST", 
                contentType: 'application/json',   
                data: upominka,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUpominkaCreate').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });
        }); 
        //delete udalost
        $("#deletebutton").click(function (e) {   
            $.ajax({   
                url: "/api/udalost/" + currEvent,   
                type: "DELETE", 
                contentType: 'application/json',   
                data: currEvent,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUdalost').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                   
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 
        //delete poznamka
        $("#deletebuttonpoznamka").click(function (e) {   
            $.ajax({   
                url: "/api/poznamka/" + currEvent,   
                type: "DELETE", 
                contentType: 'application/json',   
                data: currEvent,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalPoznamka').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                   
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 
        //delete upominka
        $("#deletebuttonupominka").click(function (e) {   
            $.ajax({   
                url: "/api/upominka/" + currEvent,   
                type: "DELETE", 
                contentType: 'application/json',   
                data: currEvent,
                success: function (data, textStatus, xhr) {
                    $('#kocourek').empty();
                    $('#myModalUpominka').modal('hide');
                    $('#calender').fullCalendar({ 
                        events: [] 
                    })
                   fetchData();
                   
                },
                error: function (xhr, textStatus, errorThrown) {
                   console.log('Error in Operation');
                }
            });   
        }); 

            function GenerateCalendar(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
                    monthNamesShort: ['Led','Únor','Břez','Dub','Květ','Červen','Červenec','Srp','Zář','Říj','List','Pros'],
                    dayNames: ['Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota','Neděle'],
                    dayNamesShort: ['Po','Út','St','Čt','Pá','So','Ne'],
                    timeZone: 'UTC',
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeZone: 'local',
                    timeFormat: 'H:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {  
                        
                        switch (calEvent.color) {
                            case "green":
                                $('#eventTitle').text("Upravit událost pro datum " + calEvent.start.format("DD.MM.YYYY") + " - " + calEvent.end.format("DD.MM.YYYY"));
                                $('input[name="nazevudalostiupdate"]').val(calEvent.title);
                                $('textarea[name="popisudalostiupdate"]').val(calEvent.description);
                                $('input[name="datumodudalostupdateudalost"]').val(moment(calEvent.start).format('YYYY-MM-DD HH:MM'));
                                $('input[name="datumdoudalostupdateudalost"]').val(moment(calEvent.end).format('YYYY-MM-DD HH:MM'));  
                                currEvent = calEvent.id;
                                $('#myModalUdalost').modal('show');
                                break;
                            case "orange": 
                                $('#eventTitlePoznamka').text("Upravit poznámku pro datum " + calEvent.start.format("DD.MM.YYYY"));
                                $('textarea[name="textpoznamkyupdate"]').val(calEvent.title);
                                $('input[name="datumpoznamkaupdate"]').val(moment(calEvent.start).format('YYYY-MM-DD HH:MM'));
                                currEvent = calEvent.id;
                                $('#myModalPoznamka').modal('show');
                                break;
                            case "red":
                                $('#eventTitlePoznamka').text("Upravit upomínku pro datum " + calEvent.start.format("DD.MM.YYYY"));
                                $('input[name="nazevupominkyupdate"]').val(calEvent.title);
                                $('input[name="datumupominkaupdate"]').val(moment(calEvent.start).format('YYYY-MM-DD HH:MM'));
                                currEvent = calEvent.id;
                                $('#myModalUpominka').modal('show');
                                break;
                        }

                    },
                    dayClick: function(date, jsEvent, view) {
                        
                        switch (currType) {
                            case typeOfEvent.Udalost:
                                $('input[name="datumodudalost"]').val(moment(date).format('YYYY-MM-DD 00:00'));
                                $('input[name="datumdoudalost"]').val(moment(date).format('YYYY-MM-DD 23:59'));
                                $('#eventTitleCreate').text("Vytvořit novou událost pro datum " + date.format("DD.MM.YYYY"));

                                $('#myModalUdalostCreate').modal('show');
                                break;
                            case typeOfEvent.Poznamka:
                                $('input[name="datumpoznamka"]').val(moment(date).format('YYYY-MM-DD 00:00'));
                                $('#eventTitleCreatePoznamka').text("Vytvořit novou poznámku pro datum " + date.format("DD.MM.YYYY"));
                                $('#myModalPoznamkaCreate').modal('show');
                                break;
                            case typeOfEvent.Upominka:
                                $('input[name="datumupominka"]').val(moment(date).format('YYYY-MM-DD 00:00'));
                                $('#eventTitleCreateUpominka').text("Vytvořit novou upomínku pro datum " + date.format("DD.MM.YYYY"));
                                $('#myModalUpominkaCreate').modal('show');
                                break;
                        }
                        
                    }
                })
            }
        })
    </script>
}
    </div>
  </div>
</div>
