@{
    ViewData["Title"] = "Kalendář";
}
@model kalendar.Models.Udalost


<div class="container-lg">
  <div class="row">
    <div class="col-4">
      <div class="text-center">
            <h2>Události</h2>
            <div id="kocourek"></div>
    </div>
    </div>
    <div class="col-8">
      <div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print"/>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/api/udalost",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.nazev,
                            start: moment(v.datum),
                            end: v.datum != null ? moment(v.datum) : null,
                        });
                        var d = new Date(v.datum);
                        d = d.toUTCString();
                        var n = document.createElement("h4"); 
                        n.innerHTML = v.nazev;
                        var dat = document.createElement("p"); 
                        dat.innerHTML = d;
                        var div = document.createElement("div"); 
                        div.className = 'udalost';
                        var documentFragment = document.createDocumentFragment();
                        documentFragment.appendChild(div);
                        div.appendChild(n);
                        div.appendChild(dat);
                        $("#kocourek").append(div);
                       /* $("#kocourek").append(JSON.stringify(v.nazev));
                        $("#kocourek").append(JSON.stringify(v.datum));*/
                    })
                    
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalendar(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {                       
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                })
            }
        })
    </script>
}
    </div>
  </div>
</div>
