@{
    ViewData["Title"] = "Kalendář";
}
@model kalendar.Models.Udalost


<div class="container-lg">
  <div class="row">
    <div class="col-4">
      <div class="text-center">
            <ul class="list-group list-group-horizontal w-100 mb-5">
              <li class="list-group-item flex-fill">Události</li>
              <li class="list-group-item flex-fill">Upomínky</li>
              <li class="list-group-item flex-fill">Poznámky</li>
            </ul>
            <div id="kocourek"></div>
      </div>
    </div>
    <div class="col-8">
      <div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print"/>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/api/udalost",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.nazev,
                            description: v.popis,
                            start: v.datumOd,
                            end: v.datumDo,
                            color: "green"
                        });
                        var d = new Date(v.datumOd);
                        d = d.toLocaleString();
                        if (v.datumDo !== null) {
                            var d2 = new Date(v.datumDo);
                            d2 = d2.toLocaleString();
                        }

                        var n = document.createElement("h4"); 
                        n.innerHTML = v.nazev;
                        var popis = document.createElement("p"); 
                        popis.innerHTML = v.popis;

                        var dat = document.createElement("h6");
                        if (v.datumDo !== null) {
                            
                            dat.innerHTML = "Od: " + d;
                            var dat2 = document.createElement("h6");
                            dat2.innerHTML = "Do: " + d2;
                        } else {
                            dat.innerHTML = d;

                        }


                        var div = document.createElement("div"); 
                        div.className = 'udalost';
                        var documentFragment = document.createDocumentFragment();
                        documentFragment.appendChild(div);
                        div.appendChild(n);
                        div.appendChild(popis);
                        div.appendChild(dat);
                        if (v.datumDo !== null) {
                            div.appendChild(dat2);
                        }
                        $("#kocourek").append(div);
                    })
                    
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            $('#closemodal').click(function() {
                $('#myModal').modal('hide');
            });

            function GenerateCalendar(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen','Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
                    monthNamesShort: ['Led','Únor','Břez','Dub','Květ','Červen','Červenec','Srp','Zář','Říj','List','Pros'],
                    dayNames: ['Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota','Neděle'],
                    dayNamesShort: ['Po','Út','St','Čt','Pá','So','Ne'],
                    timeZone: 'UTC',
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeZone: 'local',
                    timeFormat: 'H:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {   
                        $('#eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        //$description.append($('<p/>').html('<b>Description:</b>' + calEvent.popisek));
                        $('#myModal #pDetails').empty().html($description);

                        //close button ma fungovat
                        $('#myModal').modal('show');
                    }
                })
            }
        })
    </script>
}
    </div>
  </div>
</div>
